*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(142, 200, 252);
    margin: 0;
    padding: 0;
  }
  header{
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: rgb(226, 198, 43);
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1em;
}
.galeria-container{
    display: flex;
    flex-wrap: wrap;
  
}

.card{
width: 200px;
height: 450px;
gap: 15px;
text-align: justify;
border: solid 1px rgb(122, 122, 122);
box-shadow: 0 0 15px;
margin: 15px;
}

.card img{
    width: 100%;
    height: 60%;
    object-fit: cover;
}
.card .descricao{
    padding: 5px 10px;
}
.card .imagem.Caramelo{
    object-position: 0px 1%;
}
