*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    

}
body {
    background-color: rgb(142, 200, 252);
    margin: 0;
    padding: 0;
  }
  header{
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: rgb(226, 198, 43);
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1em;
}
.galeria-container{
    display: flex;
    flex-wrap: wrap;
  
}

.card{
width: 200px;
height: 450px;
gap: 15px;
text-align: center;
border: solid 1px rgb(122, 122, 122);
box-shadow: 0 0 15px;
margin: 15px;
}

.card img{
    width: 100%;
    height: 60%;
    object-fit: cover;
}
.card .descricao{
    display: flex;
    flex-direction:column ;
    font-size: medium;
    height: 40%;
    padding: 5px 10px;
}
.card .descricao  h1{
    width: 100%;
    max-height: 50%;
    overflow: hidden; 
    
}
.card .descricao p {
    width: 100%;
    max-height: 43%;
    text-overflow: ellipsis;
    overflow: hidden;
    position: relative; 
    transition:  max-height 0.4s ease;
}
.card .descricao .esconder{
    display: none;
    justify-content: center;
    background-color: rgb(110, 226, 43);
    
    padding: 10px 8px;
}
.card .descricao .esconder.mostar{
    display: block;
}


.card .imagem.Caramelo{
    object-position: 0px 1%;
}
